.signupScreen{
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background : rgba(0,0,0,0.85);
    border-radius: 15px;
}

.signupScreen form {
    display: flex;
    flex-direction: column;
}

.signupScreen form h1 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 25px;
}

.signupScreen form input{
    margin-bottom: 14px;
    outline-width: 0px;
    height: 40px;
    border : none ;
    padding: 5px 15px ;
    border-radius: 5px;
}

.signupScreen__inputs{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.signupScreen__inputs label{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(184, 184, 184);
}

.signupScreen form button {
    padding: 16px 20px ;
    font-size: 1rem;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(139, 87, 8);
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.signupScreen form  button:hover{
    background-color: rgb(80, 49, 4);
    color: rgb(241, 233, 233);
}

.signupScreen form h4 {
    text-align: left;
    margin-top: 30px;
}

.signupScreen__gray{
    color: gray;
}

.signupScreen__link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.input__name{
    display: flex;
}

.inputName__first {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.inputName__second {
    display: flex;
    flex-direction: column;
}

.input__name input {
    max-width: 115px;
}